{% extends "CRGSBRBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row highlight">
        <div class="col-md-3">
            <img class="img-thumbnail" src="{{ asset('bundles/GSBR/img/logo.jpg') }}" alt="logo" >
        </div>
        <div class="col-md-9">
            <h1>GSB-Report</h1>
            <p>
                <small>Gestion des rapports de visite</small>
            </p>
        </div>
    </div>
{% endblock %}

